<h1>Edit <%= @user.username %></h1>

<%= render partial: "shared/errors", locals: {object: @user} %>

<div class="form">
	<%= form_for @user do |f| %>
		<div>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</div>
		<br>
		<%= f.submit 'Edit', class: "btn button-blue" %>
	<% end %>
</div>
