<h1>Sign up page</h1>

<% if @user.errors.any? %>
 <% @user.errors.full_messages.each do |message| %>
 	<li><%= message %></li>
	<% end %>
<% end %>

<div>
	<%= form_for @user do |f| %>
		<div>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<br>
		<div>
			<%= f.label :username %>
			<%= f.text_field :username %>
		</div>
		<br>
		<div>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<br>
		<div>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>
		<br>
		<%= f.submit 'Sign up' %>
	<% end %>
</div>
