<h1>Sign up page</h1>

<%= render partial: "shared/errors", locals: {object: @user} %>
<br>
<div class="form">
	<%= form_for @user, url: {action: "create"} do |f| %>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<br>
	<div>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</div>
	<br>
	<div>
		<%= f.label :first_name, "First name" %>
		<%= f.text_field :first_name %>
	</div>
	<br>
	<div>
		<%= f.label :last_name, "Last name" %>
		<%= f.text_field :last_name %>
	</div>
	<br>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<br>
	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<br>
	<%= f.submit 'Sign up', class: "btn button-blue" %>
	<% end %>
</div>
<br>
<div>
	<%= link_to "back to log in page", login_path, class: "links" %>
</div>
