<%= display_user_header %>
<div class="navbar mini">
	<ul>
		<li><%= link_to "Recommendations", user_recommends_path(@user)%></li>
		<%= show_edit_info_and_delete_account_button %>
	</ul>
</div>
<br>
<h2>About</h2>
<div>
	<p><strong>Name:</strong> <%= @user.full_name %></p>
	<br>
	<p><strong>Email:</strong> <%= @user.email %></p>
</div>
