<h1><%= @user.username %>'s profile</h1>
<div class="navbar mini">
	<ul>
		<li><%= link_to "Recommendations", user_recommends_path(@user)%></li>
		<% if @user == current_user %>
			<li><%= link_to "Edit information", edit_user_path(@user) %></li>
			<li><%= link_to "Delete account", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete your account?"} %></li>
		<% end %>
	</ul>
</div>
<br>
<h2>About</h2>
<div>
	<p><strong>Email:</strong> <%= @user.email %></p>
</div>
