<div class="label">
	<strong>
		<%= link_to recommend.brand_name, brand_path(recommend.brand), class: "links" %> <%= link_to "(#{recommend.category_name})", category_path(recommend.category), class: "links" %>
	</strong>
</div>
<p><%= recommend.comment %></p>
<div class="navbar mini">
	<ul>
		<li><%= link_to "View", recommend_path(recommend) %></li>
		<li><%= link_to "Recommend", new_brand_recommend_path(recommend.brand) %></li>
		<% if recommend.user == current_user %>
			<li><%= link_to "Edit", edit_recommend_path(recommend) %></li>
			<li><%= link_to "Delete", recommend_path(recommend), method: :delete, data: {confirm: "Are you sure you want to delete this recommendation?"} %></li>
		<% end %>
		<div class="info right"><%= pluralize(recommend.brand.users.count, "recommend") %></div>
	</ul>
</div>
