<% if @user %>
	<h1><%= @user.username %></h1>
	<div>
		<li><%= link_to "Info", user_path(@user), class: "links" %></li>
	</div>
<% else %>
	<h1>Welcome to Recommend!</h1>
<% end %>
<br>
<%= form_tag("/recommends", method: "get") do %>
	<%= label_tag :q, "Search for:" %>
	<%= text_field_tag :q %>
	<%= submit_tag "Search" %>
<% end %>
<br>
<% @recommends.each do |recommend| %>
	<div class="lists">
		<% if !@user %>
			<h2><%= link_to recommend.user_name, user_recommends_path(recommend.user), class: "links" %></h2>
		<% end %>
		<%= render partial: "recommend", locals: {recommend: recommend} %>
	</div>
<% end %>
