<% if @user %>
	<h1><%= @user.username %></h1>
	<div class="navbar mini">
		<ul>
			<li><%= link_to "Info", user_path(@user)%></li>
			<div class="info right"><%= render partial: "shared/search", locals: {path: user_recommends_path(@user)} %></div>
		</ul>
	</div>
<% else %>
	<h1>Welcome to Recommend!</h1>
	<%= render partial: "shared/search", locals: {path: recommends_path} %>
<% end %>
<br>
<% @recommends.each do |recommend| %>
	<div class="lists">
		<% if !@user %>
		<h2><%= link_to recommend.user_name, user_recommends_path(recommend.user), class: "links" %></h2>
		<% end %>

		<div class="label">
			<strong>
				<%= link_to recommend.brand_name, brand_path(recommend.brand), class: "links" %> <%= link_to "(#{recommend.category_name})", category_path(recommend.category), class: "links right" %>
			</strong>
		</div>
		<p><%= recommend.comment %></p>
		<div class="navbar mini">
			<ul>
				<li><%= link_to "View", recommend_path(recommend) %></li>
				<li><%= link_to "Recommend", new_brand_recommend_path(recommend.brand) %></li>
				<% if recommend.user == current_user %>
				<li><%= link_to "Edit", edit_recommend_path(recommend) %></li>
				<li><%= link_to "Delete", recommend_path(recommend), method: :delete, data: {confirm: "Are you sure you want to delete this recommendation?"} %></li>
				<% end %>
				<div class="info right"><%= pluralize(recommend.brand.recommends.size, "recommend") %></div>
			</ul>
		</div>
	</div>
<% end %>
