<% if @user %>
	<h1><%= @user.username %></h1>
	<div class="navbar mini">
		<ul>
			<li><%= link_to "Info", user_path(@user)%></li>
			<div class="info right"><%= render partial: "shared/search", locals: {path: user_recommends_path(@user)} %></div>
		</ul>
	</div>
<% else %>
	<h1>Welcome to Recommend!</h1>
	<%= render partial: "shared/search", locals: {path: recommends_path} %>
<% end %>
<br>
<% @recommends.each do |recommend| %>
<div class="lists">
	<% if !@user %>
	<h2><%= link_to recommend.user_name, user_recommends_path(recommend.user), class: "links" %></h2>
	<% end %>
	<%= render partial: "recommend", locals: {recommend: recommend} %>
</div>
<% end %>
