<%= index_display_header %>
<br>
<% @recommends.each do |recommend| %>
	<div class="lists">
		<%= index_display_user_name(recommend) %>

		<div class="label">
			<strong>
				<%= link_to recommend.brand_name, brand_path(recommend.brand), class: "links" %> <%= link_to "(#{recommend.category_name})", category_path(recommend.category), class: "links right category" %>
			</strong>
		</div>
		<p><%= recommend.comment %></p>
		<div class="navbar mini">
			<ul>
				<li><%= link_to "View", recommend_path(recommend) %></li>
				<li><%= link_to "Recommend", new_brand_recommend_path(recommend.brand) %></li>
				<%= show_edit_and_delete_button(recommend) %>
				<div class="info right"><%= pluralize(recommend.brand.recommends.size, "recommend") %></div>
			</ul>
		</div>
	</div>
<% end %>
