<% if @brand %>
	<h1>Recommend <%= @brand.name %></h1>
	<strong>Category: <%= @brand.category_name %></strong>
<% else %>
	<h1>New recommendation!</h1>
<% end %>

<% if @recommend.errors.any? %>
	<div id="error_explanation">
		<h3><%= pluralize(@recommend.errors.count, "error") %> prohibited this recommend from being saved:</h3>
		<ul>
			<% @recommend.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<% if @brand %>
	<%= form_for([@brand, @recommend]) do |f| %>
		<%= f.hidden_field :brand_id %>
		<div>
			<%= f.label :comment %>
			<%= f.text_area :comment %>
		</div>
		<br>
		<div>
			<%= f.submit "Recommend" %>
		</div>
	<% end %>

<% else %>
	<%= form_for @recommend do |f| %>
		<%= f.fields_for :brand do |b| %>
			<div>
				<%= b.label :name, "Brand" %>
				<%= b.text_field :name %>
			</div>
			<br>
			<div>
				<%= b.fields_for :category do |c| %>
				<%= c.label :name, "Category" %>
				<%= c.text_field :name %>
				<% end %>
			</div>

			<br>
			<div>
				<%= f.label :comment %>
				<%= f.text_area :comment %>
			</div>
			<br>
			<div>
				<%= f.submit "Recommend" %>
			</div>
		<% end %>
	<% end %>
<% end %>
