<% if @brand %>
	<h1>Recommend <%= @brand.name %></h1>
	<strong>Category: <%= @brand.category_name %></strong>
<% elsif @category %>
	<h1><%= @category.name %> recommendation</h1>
<% else %>
	<h1>New recommendation!</h1>
<% end %>
<br>
	<%= render partial: "shared/errors", locals: {object: @recommend} %>
<br>

<% if @brand %>
	<div class="form">
		<%= form_for([@brand, @recommend]) do |f| %>
		<%= f.hidden_field :brand_id %>
		<div>
			<%= f.label :comment %>
			<%= f.text_area :comment %>
		</div>
		<br>
		<div>
			<%= f.submit "Recommend", class: "btn button-blue" %>
		</div>
		<% end %>
	</div>
<% elsif @category %>
	<div class="form">
		<%= form_for([@category, @recommend]) do |f| %>
		<%= f.fields_for :brand do |b| %>
		<%= b.hidden_field :category_id %>
		<div>
			<%= b.label :name, "Brand" %>
			<%= b.text_field :name %>
		</div>
		<br>
		<% end %>
		<div>
			<%= f.label :comment %>
			<%= f.text_area :comment %>
		</div>
		<br>
		<div>
			<%= f.submit "Recommend", class: "btn button-blue" %>
		</div>
		<% end %>
	</div>
<% else %>
	<div class="form">
		<%= form_for @recommend do |f| %>
		<%= f.fields_for :brand do |b| %>
		<div>
			<%= b.label :name, "Brand" %>
			<%= b.text_field :name %>
		</div>
		<br>
		<div>
			<%= b.fields_for :category do |c| %>
			<%= c.label :name, "Category" %>
			<%= c.text_field :name %>
			<% end %>
		</div>

		<br>
		<div>
			<%= f.label :comment %>
			<%= f.text_area :comment %>
		</div>
		<br>
		<div>
			<%= f.submit "Recommend", class: "btn button-blue" %>
		</div>
		<% end %>
		<% end %>
	</div>
<% end %>
