<h1><%= link_to @recommend.user_name, user_recommends_path(@recommend.user), class: "links" %></h1>
<div class="lists">
	<div class="label">
		<strong>
			<%= link_to @recommend.brand_name, brand_path(@recommend.brand), class: "links" %> <%= link_to "(#{@recommend.category_name})", category_path(@recommend.category), class: "links right" %>
		</strong>
	</div>
	<p><%= @recommend.comment %></p>
	<div class="navbar mini">
		<ul>
			<li><%= link_to "View", recommend_path(@recommend) %></li>
			<li><%= link_to "Recommend", new_brand_recommend_path(@recommend.brand) %></li>
			<%= show_edit_and_delete_button(@recommend) %>
			<div class="info right"><%= pluralize(@recommend.brand.recommends.size, "recommend") %></div>
		</ul>
	</div>
</div>
