<h1>Browse for brands</h1>
<%= form_tag("/brands", method: "get") do %>
	<%= label_tag :q, "Search for:" %>
	<%= text_field_tag :q %>
	<%= submit_tag "Search" %>
<% end %>
<br>

<% @brands.each do |brand| %>
	<%= render partial: "shared/name_list", locals: {zone: brand, path: new_brand_recommend_path(brand)} %>
<% end %>
