<h1><%= @brand.name %></h1>
<div class="navbar mini">
	<ul>
		<li style="border-right: 1px solid #bbb"><%= link_to @brand.category_name, category_path(@brand.category)%></li>
		<li><%= link_to "Recommend", new_brand_recommend_path(@brand) %></li>
	</ul>
</div>
<br>
<h1>Recommendations</h1>
<% @brand.recommends.each do |recommend| %>
	<ul class="lists">
		<h2><%= link_to recommend.user_name, user_recommends_path(recommend.user), class: "links" %></h2>
		<p><%= recommend.comment %></p>
	</ul>
<% end %>
