<h1><%= @category.name %></h1>
<div class="navbar mini">
	<ul>
		<li><%= link_to "Recommend", new_category_recommend_path(@category) %></li>
	</ul>
</div>
<br>

<% @brands.each do |brand| %>
	<div class="lists">
		<div>
			<strong><%= link_to brand.name, brand, class: "links" %></strong> <small><%= pluralize(brand.recommends.size, "recommend")%></small>
		</div>
		<div>
			<%= link_to "Recommend", new_brand_recommend_path(brand), class: "links" %>
		</div>
	</div>
<% end %>
