<!DOCTYPE html>
<html>
  <head>
    <title>ReCommend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div class="navbar">
			<ul>
				<% if logged_in? %>
				<li><%= link_to "Home", recommends_path %></li>
				<li><%= link_to current_user.username, user_path(current_user) %></li>
				<li><%= link_to "Logout", logout_path, method: 'delete' %></li>
				<% else %>
				<li><%= link_to "Sign up", signup_path %></li>
				<li><%= link_to "Log in", login_path %></li>
				<li><%= link_to "Log in with Google", '/auth/google_oauth2' %></li>
				<% end %>
			</ul>
		</div>
		<div class="wrapper">
			<% flash.each do |type, msg| %>
  			<div class="<%= type %>">
    			<%= msg %>
  			</div>
			<% end %>

			<%= yield %>

		</div>
  </body>
</html>
