<!DOCTYPE html>
<html>
  <head>
    <title>ReCommend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div class="navbar-header">
			<% if logged_in? %>
				<%= link_to "Logout", logout_path, method: 'delete' %>
			<% else %>
				<%= link_to "Log in", login_path %>
				<%= link_to "Sign up", signup_path %>
			<% end %>
		</div>
    <%= yield %>
  </body>
</html>
